*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}

:root{
  --container: min(100% - 2, 50rem);
  --center: auto;
}

.flex{
  display: flex;
}

.items-center{
  align-items: center;
}


.justify-center{
  justify-content: center;
}

nav > .chat-icon{
  width: var(--size-6);
  margin-right: var(--size-2);
}

nav > .chat-slogan{
  margin-left: var(--size-6);
  font-weight: var(--font-weight-4);
}

nav{
  padding: var(--size-4);
  text-transform: uppercase;
  border-bottom: 1px solid var(--violet-9);
}

.container{
  width: var(--container);
  margin: var(--center);
  padding: var(--size-4);
}


input{
  border: 1px solid var(--violet-9);
  border-radius: var(--size-1);
  padding: var(--size-2);
  margin: var(--size-3) 0;
  width: 100%;
}



/*estilos del chat*/
.chat-grid{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar{
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--size-2);
}

.chat{
  width: 100%;
  height: calc(100vh - 5rem);
  padding: var(--size-1);
  position: relative;
  overflow-y: scroll;
}

.user-chat{
  background-color: var(--indigo-7);
  color: white;
  border-radius: 0.5rem;
  min-height: 2rem;
  width: calc(100% - 3rem);
  margin: 8px 0 0 24px;
  padding: var(--size-1);
  text-align: right;
}

.sender-chat{
  color: var(--indigo-7);
  border-radius: 0.5rem;
  min-height: 2rem;
  width: calc(100% - 3rem);
  margin: 8px 24px 0 0;
  padding: var(--size-1);
  border: 1px solid var(--indigo-7);
  background-color: var(--gray-3);
}

.chat-inf{
  font-size: 12px;

}

.chat-form-container{
  width: var(--container);
  margin: var(--center);
  height: 3rem;
}

.chat-input-container{
  display: flex;
  align-items: center;
}

.chat-input{
  width: 80%;
  margin: 0 var(--size-2) 0 0;
}

.chat-send{
  width: 20%;
  margin: 0 var(--size-2) 0 0;
}


/*alert message*/
.alert-error{
  color: var(--red-5);
}


.sign-out{
  color: var(--red-5);
  cursor: pointer;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
